@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital@1&display=swap');
* {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;

}
body {
scroll-behavior: smooth;
background-color: honeydew;
margin: 0;
}
.container {
height: 100vh;

display: grid;
grid-template-columns: 2fr 1fr 1fr;
grid-template-rows: 150px 1fr 1fr 10px;
grid-template-areas:
"header header header"
"content-large content-large content-side1"
"content-large content-large content-side2"
"footer footer footer";

gap: 5px;
padding: 5px;
box-sizing: border-box;
}
.container div {
padding: 10px;
border: 1px solid rgb(0, 0, 0);
align-items: center;
justify-content: center;
}

/* Header */
.header {
border-radius: 10px;
border: 1px;
grid-area: header;
background-color: darkseagreen;
}


.navbar-links li a {
background-color: darkslategray;

border-radius: 10px;
text-decoration: none;
margin: 5px;
padding: 7px;
color: #ffffff;
}

/* Content */
.content-large {
grid-area: content-large;
border-radius: 10px;
border: 1px;
}


.content-side1 {
grid-area: content-side1;
border-radius: 10px;
border: 1px;
}


.content-side2 {
grid-area: content-side2;
border-radius: 10px;
border: 1px;
}


.content-side3 {
grid-area: content-side3;
border-radius: 10px;
border: 1px;
}


/* Footer */
.footer {
grid-area: footer;
}
footer {
text-align: center;
margin-top: -11px;
}

@media screen and (max-width: 825px) {
.container {
grid-template-columns: 1fr;
grid-template-rows: 0.4fr 2.2fr 1.2fr 0.2fr;
grid-template-areas:
"header"
"content-large"
"content-side1"
"content-side2"
"footer";
}
}